[2015-07-25 13:07] dcsan opened #1 "FCC Topic Specific Help chats"
Topic Specific Help chats
- [ ] sending data into the chatroom from FCC
- [ ] button on FCC pages “chat about this topic”
- [ ] loadup gitter
- [ ] send to chat a relevant topic header
- [ ] send to the chat: javascript? they’re currently editing (will require FCC integration)

[2015-07-25 13:08] dcsan opened #2 "helpbot"
helpbot you can ask questions and it will answer on various topics, a little bit like unix man pages but for javascript
- [ ] decide format for 'brain' files
- [ ] repo for the “brain” (yaml format?)
- [ ] simple query system with params

[2015-07-25 13:11] dcsan opened #3 "give karma system from the chats"
when a user helps you in the chat, enable a way to give that user some karma

- [ ] end of a chat user1 says “ktx @USER”

- [ ] bot replies: give karma to $GITHUB_USERNAME?
this sends karma to that user via an FCC api based on github username

- [ ] log the conversation to our own DB, not just gitter IM
from the beginning of that topic chat
then need some way to summarize the chat and store it in

[2015-07-27 13:28] dcsan opened #4 "problems with multiple joining/listening to a room"
ref
https://github.com/gitterHQ/node-gitter/issues/15

[2015-07-27 14:39] dcsan opened #5 "switch to gitter realtime client"
https://github.com/gitterHQ/realtime-client
https://developer.gitter.im/docs/faye-endpoint

so we can get other user events, like being pinged with a DM

[2015-07-27 15:40] dcsan opened #6 "use instances of Bots so we can track topics per bot"
for DMs so each chat can have its own topic and context, history independent of the others

[2015-07-28 02:43] dcsan opened #7 "full text search"
https://www.compose.io/articles/full-text-search-with-mongodb-and-node-js/

[2015-07-28 15:50] dcsan opened #8 "cheat sheets edit for the wiki"
@QuincyLarson can you have someone edit the cheatsheet material for the bot?

eg this
http://ricostacruz.com/cheatsheets/react.html

is available in .md source here:
https://github.com/rstacruz/cheatsheets/issues

and many more
https://github.com/rstacruz/cheatsheets

[2015-07-28 17:46] dcsan opened #9 "forking wiki"
@QuincyLarson can you give me access to FCC main repo?
so i can read/write the wiki files from a local checkout.

it maybe best to setup the wiki content in a separate repo so we can allow edit/commit rights on that without changing permissions for main FCC repo, then you can allow other editors to check out the files locally and edit, not just via the browser UI.

there are other ways to fork wik

[2015-07-28 18:37] dcsan opened #10 "eslint"
madness lies here
http://eslint.org/docs/rules/strict

[2015-07-28 19:11] dcsan opened #11 "need info for CamperBot account"
@QuincyLarson can you send me login info for the camperbot account? I'll need to authenticate it with gitter etc.
i'll make a ticket just in case...

[2015-07-30 06:21] dcsan opened #12 "remove DM tag from wiki links, for now"

[2015-07-30 06:26] #10 closed, assigned to nobody

[2015-07-30 06:27] #11 closed, assigned to QuincyLarson

[2015-07-30 06:27] #9 closed, assigned to QuincyLarson

[2015-07-30 06:29] dcsan opened #13 "listen for FAQs and reply"
[code]

search for these FAQs and the bot can send a nice hint

[2015-07-30 19:44] dcsan opened #14 "wiki update command"
git update to latest wiki data

[2015-07-30 19:44] #12 closed, assigned to nobody

[2015-07-30 19:47] #2 closed, assigned to nobody

[2015-07-30 19:47] #1 closed, assigned to dcsan

[2015-07-30 19:47] dcsan opened #15 "announce topic on entering generic "Help Bonfires" chat room"
based on incoming `topic=X` link

[2015-07-30 21:06] dcsan opened #16 "api/users/about should have bio info"
I don't see any bio info coming back from the API

[code]

[2015-07-30 22:26] dcsan opened #17 "way to reset the send/receive log for testing"
I confirmed you can't double send to the same user, but this makes it a bit hard to test as i can only use each user once.

would be great to have a way to reset the log so I can resend

or add a secret  force:true  option for testing, to ignore the log check

[2015-07-31 02:11] dcsan opened #18 "hello world response"
very simple first feature to respond to `hello world` differnetly from just `hello`

[2015-07-31 08:46] dcsan opened #19 "test on API is timing out"
any ideas why the call to the userinfo api would sometimes take > 2000ms?  and sometimes not...

i have an Async test in there but i think the `done()` is in the right place.

[code]

[2015-07-31 09:17] dcsan opened #20 "rooms command has commas in output"
![image](https://cloud.githubusercontent.com/assets/514002/9004362/3652f76e-372a-11e5-8650-bec163bd77d9.png)

has extra commas on each line
seems to be `join`ing array items incorrectly or forcing an array to a string

[2015-07-31 09:24] dcsan opened #21 "Unexpected end of input"
on response from `about` api call.

[code]

[2015-07-31 15:56] dcsan opened #22 "setup CI server"
circleCI ?

[2015-07-31 15:56] #21 closed, assigned to nobody

[2015-07-31 15:59] dcsan opened #23 "typo on can't find user message"
count not find receiver for %s

should be could not

[2015-07-31 16:01] dcsan opened #24 "setting for default avatar size on about message"
![image](https://cloud.githubusercontent.com/assets/514002/9011539/bd098376-3762-11e5-9dde-c61aa8c98f9e.png)

[2015-07-31 16:24] dcsan opened #25 "add log message that documents where being called from"
console.log(x)

will print stuff out that messes up the log view, and its hard to find where the method is.

try using arguments.caller or the stack to see where the method was called from and add that.

[2015-07-31 16:49] dcsan opened #26 "prevent users sending thanks to themselves"
![image](https://cloud.githubusercontent.com/assets/514002/9012411/5e12e4fa-3769-11e5-8a71-9f8bec332287.png)

or we'll get an exploit

[2015-07-31 18:04] dcsan opened #27 "links to the HelpBonfires room"
@BerkeleyTrue it would be great if you could add links to the rooms

[2015-07-31 20:57] #23 closed, assigned to BerkeleyTrue

[2015-07-31 20:58] #16 closed, assigned to BerkeleyTrue

[2015-07-31 20:59] #17 closed, assigned to BerkeleyTrue

[2015-08-01 02:27] dcsan opened #28 "parse @mention thanks as well as thanks @mention"
people often type like:

that should be picked up / filtered in the same way as normal `thanks @xx`
use a regex to match in the whole input.
we may have to add another part to the "parseInput" section to handle these

[2015-08-01 05:28] dcsan opened #29 "refactor thanks + about"
to use common code to show about the user

[2015-08-01 07:14] camperbot opened #30 "rate limits on individual users"
to stop a user spamming with commands over and over.

[2015-08-01 07:19] dcsan opened #31 "detect mention of bonfires in the main chat"
scan all text input
when a user mentions a bonfire by name
open a subtle prompt directing them to the room about that bonfire

[2015-08-01 07:53] abhisekp commented on #30
It's not individual users. It can be multiple users requesting a command which applies to everyone.
So a time limit or a chat message limit i.e. a particular command can be executed after some `n` number of chat messages.

[2015-08-01 07:59] dcsan commented on #30
thats a good point, and maybe easier too. currently there is just one bot which manages everything.

At some level I'm going to have bot instances, so they can have context and history of disussion, and different states. eg talking about different bonfires with different users. The rate limiting would probably be done down at that level so we don't throttle if users in different rooms are firing s

[2015-08-01 09:03] #18 closed

[2015-08-01 17:27] dcsan opened #32 "respond to gollum event from github"
when the wiki is updated, we can get a gollum event

however, we should only respond to this one event at a time so we don't get two github pulls happening at the same time

https://developer.github.com/webhooks/

[2015-08-01 18:19] dcsan commented on #32
http://stackoverflow.com/questions/8407917/how-can-you-track-or-be-notified-of-changes-to-github-wikis

[2015-08-01 18:19] dcsan commented on #32
need to create an endpoint in the app that can accept an incoming call from the github webhook, and just fire the `wiki-update.sh` script

[2015-08-01 19:09] dcsan opened #33 "if nothing found, show the wiki footer link"
![image](https://cloud.githubusercontent.com/assets/514002/9023192/2c513fb0-3846-11e5-8b8b-e0e66d3e4f25.png)

find returns nothing - suggest to create a page on that item.

[2015-08-01 20:14] dcsan opened #34 "merge help / find commands"
its confusing whether to use find (search) or help(wiki page)
these could be merged

eg `help js`

find all titles with `js` in them
if more than one, show a list
if exactly one then show that entry right away

`search` should deep search the content of all the articles, not just the titles.
`find` just looks at titles

![image](https://cloud.githubusercontent.com/assets/514002/9023415/fc17b352-38

[2015-08-01 20:18] dcsan commented on #34
@SaintPeter is this anything you'd be interested in helping with?

[2015-08-01 21:06] dcsan opened #35 "also find thanks @xx inside messages"
![image](https://cloud.githubusercontent.com/assets/514002/9023580/7e7f678e-3856-11e5-9b39-55ca8c861034.png)

[2015-08-01 22:33] dcsan opened #36 "implement menu system"
![image](https://cloud.githubusercontent.com/assets/514002/9023824/6e47ef74-3862-11e5-9e4e-9183f6bafd56.png)

when a user gets a list of responses back, typing a single number eg `0` should be enough to select the next item to retrieve.

(nice tip we could also use :one:  :two: ~ :nine: emoji for menu items)

[2015-08-01 23:00] dcsan commented on #35
and:

@moigithub Thanks a lot man!!!!

basically more flexible regex around the thanks

[2015-08-01 23:03] dcsan commented on #33
now:
find beta > nothing found

expected:
find beta > nothing found > why not create it?

[2015-08-01 23:04] dcsan commented on #34
related to #33

[2015-08-01 23:04] dcsan opened #37 "cron task to update wiki"

[2015-08-01 23:06] dcsan opened #38 "simplify install / setup process"

[2015-08-02 00:49] dcsan opened #39 "improve the project page on GH pages"
add an image and a bit more info

http://dcsan.github.io/gitterbot/

[2015-08-02 01:56] #14 closed

[2015-08-02 04:49] dcsan opened #40 "auth required sometimes?"
is this an error type when a user doesn't exist?

[code]

![image](https://cloud.githubusercontent.com/assets/514002/9024763/119b5e98-3897-11e5-8edc-c6232d7e806a.png)

[2015-08-02 05:23] dcsan opened #41 "POST directly to github wiki with users discussions"
could be possible, and this would then open an edit page directly for the user with their discussion thread.

they could then review it.

[2015-08-02 05:29] #15 closed

[2015-08-02 05:30] dcsan opened #42 "simplify handling of rooms / topics inbound links"
every link should have a URL, so goto the room specified
if there is one announce the topic

ie disable the reverse logic to look up a room from the topic.

[2015-08-02 05:30] dcsan opened #43 "[master] bonfires help"

[2015-08-02 05:39] dcsan opened #44 "bonfire command to set current bonfire / welcome message"
eg

`^bonfire mutations`

set the current bonfire topic inside the bot
if bonfire room, send a detailed message with options
if mainchats, just send a short info message

----
## bonfire: [mutations].
we have [four] hints.
- `hint` will show a hint.
- `comments` will show user comments
- `seed` will remind you about the javascript

----

[2015-08-02 06:07] dcsan commented on #44
ref #43

[2015-08-02 10:04] dcsan opened #45 "fix links to MDN content"
![image](https://cloud.githubusercontent.com/assets/514002/9025669/268f5ea4-38c3-11e5-97ed-6376fdf492c8.png)

there are some methods in the main freecodecamp repo to convert the links in the content to actual MDN URLs.

[2015-08-02 19:46] dcsan opened #46 "auth required error"
sending thanks to an unknown user gives this error

[code]

[2015-08-02 19:48] dcsan commented on #46
![image](https://cloud.githubusercontent.com/assets/514002/9027712/d35e26aa-3914-11e5-99b9-f576113a3bbf.png)

[2015-08-02 19:49] dcsan commented on #46
@BerkeleyTrue if you can fix at your end that'd be neat!

[2015-08-02 19:51] dcsan commented on #28
dupe of #35

[2015-08-02 19:51] dcsan commented on #28
![7e7f678e-3856-11e5-9b39-55ca8c861034](https://cloud.githubusercontent.com/assets/514002/9027718/2a2355aa-3915-11e5-8de6-c663654f8169.png)

[2015-08-02 19:54] dcsan commented on #28
write a `GBot.scanInput` function, similar to the `parseInput`
search for `thanks` anywhere inside a message.
get the @mention people in that message
send karma to them

[2015-08-02 19:55] #35 closed

[2015-08-02 20:32] dcsan opened #47 "glossary feature"
scan the user input for words surrounded by [ ]
lookup in the KBase a response
emit back just the **first line** of that entry
and use an indent `>` before the bot reply to make it indented

[code]

this will show up like

![image](https://cloud.githubusercontent.com/assets/514002/9027875/e5293450-391a-11e5-8ea0-b948702b8d9d.png)

[2015-08-02 20:35] dcsan opened #48 "refactor send thanks to send to multiple @mentionds"
if you send karma to multiple people

ideally the calls to send karma should be refactored as they currently rely on returning their message.
simple fix: instead just use an async `bot.says()` so the messages can go out and control flow will continue to the next send event.

better fix maybe to create a single message like
`dc sends karma to @user1 and @user2` if multiple users

[2015-08-03 01:27] dcsan opened #49 "wiki content for lessons"
some users have wiki content material
this could be formatted and "stepped through"

https://github.com/Rafase282/My-FreeCodeCamp-Code

https://github.com/luishendrix92/My-FreeCodeCamp-Path/wiki/Bonfire:-Factorialize-a-number
https://github.com/luishendrix92/My-FreeCodeCamp-Path/wiki/Bonfire:-Check-for-Palindromes

[2015-08-03 02:46] dcsan opened #50 "karma sending is broken?"
![image](https://cloud.githubusercontent.com/assets/514002/9029852/2932bea8-394f-11e5-922a-275616c32c34.png)

[2015-08-03 02:52] dcsan commented on #50
@BerkeleyTrue any ideas? i think this is related to the other auth problems
the user is found but can't receive points

[code]

[2015-08-03 02:58] dcsan opened #51 "reverse searching on XXX Bonfire"
need to match in this order too:

[2015-08-03 03:13] dcsan opened #52 "TypeError: Cannot read property 'screenName' of undefined"
thanks input.message> [object Object]
bot-0 /home/freecodecamp/www/gitterbot/nap/lib/bot/cmds/thanks.js:72
            toUser = mentions[0].screenName.toLowerCase();
                                ^
TypeError: Cannot read property 'screenName' of undefined
    at Object.commands.thanks (/home/freecodecamp/www/gitterbot/nap/lib/bot/cmds/thanks.js:72:33)
    at Object.GBot.findAnyReply (/home/freec

[2015-08-03 04:30] dcsan opened #53 "add [edit] in wiki links"
![image](https://cloud.githubusercontent.com/assets/514002/9030861/b238b0aa-395d-11e5-9002-e17a82461201.png)

[2015-08-03 17:25] dcsan opened #54 "add players most recent bonfire to the about output"
it would be nice to show a bit more info on players. one idea is to add their most recent bonfire/map location, so others can see how far they've progressed. its a motivator to do more FCC bonfires/waypoints etc.

[2015-08-03 17:29] dcsan commented on #54
can you tell me what fields are in your users collection?  maybe i can think of some way to gamify the display of them.

[2015-08-03 17:38] BerkeleyTrue commented on #54
freecodecamp/freecodecamp/common/models/user.json

[2015-08-03 18:12] dcsan opened #55 "watch for troll / ban messages"
just add an auto message to link to camperbot/admin

[code]

[2015-08-03 18:18] SaintPeter commented on #47
Is it possible to have namespaces on the Github Wiki?

I could see potential collisions on the /wiki/ top level.
I'm thinking:
wiki/Glossary/undefined
wiki/Glossary/immutable

Essentially -
How do you differentiate between a short, succinct definition and a longer explanation.  I could see needing both for something like [ immutable ].

[2015-08-03 18:28] dcsan commented on #55
room created
https://gitter.im/camperbot/admins

add to "room messages"

[2015-08-03 18:50] #53 closed

[2015-08-03 18:50] #20 closed

[2015-08-03 18:51] #31 closed

[2015-08-03 18:51] #3 closed

[2015-08-03 19:27] BerkeleyTrue commented on #50
@dcsan Send request to give-brownie-points as POST request

[2015-08-03 19:44] dcsan commented on #40
dupe

[2015-08-03 19:44] #40 closed

[2015-08-03 21:34] dcsan opened #56 "use node env to manage env settings"
.env or .dot

[2015-08-03 22:24] dcsan commented on #48
done by @irinatag

[2015-08-03 22:24] #48 closed

[2015-08-03 23:06] dcsan opened #58 "rooms page on web part of site"
[code]

[2015-08-03 23:06] dcsan commented on #58
/rooms/

route is broken

[2015-08-04 00:36] dcsan opened #60 "convert backtick formatting `"
the new ES6 format isn't much nicer than old JS style and is keeping us from using node vs IO
maybe worth just reverting

![image](https://cloud.githubusercontent.com/assets/514002/9050722/16228584-3a06-11e5-922e-dcd08e124ca7.png)

[2015-08-04 00:40] dcsan opened #61 "new entry wiki result - add a footer to suggest using camperbot/testing room"
![image](https://cloud.githubusercontent.com/assets/514002/9050760/957c376c-3a06-11e5-8526-ad3a33d71f5f.png)

![image](https://cloud.githubusercontent.com/assets/514002/9050773/adb8b756-3a06-11e5-8d96-52b14c16155a.png)

[2015-08-04 02:29] dcsan opened #62 "add more advanced bonfires / other content"
the JSON file we have loaded currently is just for the basic ones, it would be good to add/merge the other JSON data from the main site.

file is placed here (just copied from FCC repo)
https://github.com/dcsan/gitterbot/blob/master/nap/data/seed/challenges/basic-bonfires.json

and loaded in code:
https://github.com/dcsan/gitterbot/blob/master/nap/lib/app/Bonfires.js#L52

could just be a lodash `

[2015-08-04 02:29] dcsan commented on #62
@benmcmahon100 this would be a great oen for you since you know the material

[2015-08-04 02:30] dcsan commented on #62
is the waypoints or any other material relevant for here too?

[2015-08-04 02:43] dcsan opened #63 "fuzzy search / weighting"
![image](https://cloud.githubusercontent.com/assets/514002/9052061/d8b28516-3a17-11e5-9928-558edb26809d.png)

[2015-08-04 02:43] dcsan opened #64 "add hint tip if search is too short"
![image](https://cloud.githubusercontent.com/assets/514002/9052066/e7c76d46-3a17-11e5-8e81-6ec5785ffc2e.png)

[2015-08-04 04:10] dcsan opened #65 "catch error if no @mentions"
![image](https://cloud.githubusercontent.com/assets/514002/9053047/050d7164-3a24-11e5-9b9b-fe5b72dff067.png)

just using players name
return a message

[2015-08-04 04:11] dcsan commented on #65
whoever does this should also write a test for it.

[2015-08-04 05:48] dcsan opened #66 "unknown users has a %s in the error message"
![image](https://cloud.githubusercontent.com/assets/514002/9054025/b1a2c412-3a31-11e5-96f2-6cfba9e07680.png)

looks like string interpolate isn't firing, looks buggy...

i could suppress the message but i like to print them for now

[2015-08-04 06:12] BerkeleyTrue commented on #66
Looking into it

Best,

___________________________________

Berkeley Martinez

Web Consultant at http://r3dm.com

Email: Berkeley@r3dm.com

Phone: (415) 763-7217

____________________________________

On Mon, Aug 3, 2015 at 10:48 PM, dc <notifications@github.com> wrote:

[2015-08-04 06:27] dcsan commented on #66
![image](https://cloud.githubusercontent.com/assets/514002/9054508/204993b4-3a37-11e5-9556-971df3b5e65a.png)

i made a custom error msg anyway see above image

[2015-08-04 06:27] dcsan commented on #66
just
[code]

[2015-08-04 07:06] dcsan commented on #45
@benmcmahon100 if you were able to take this one?

@BerkeleyTrue showed me a file in the main repo that converts the MDN function names into URLs.

[2015-08-04 09:26] dcsan opened #67 "continuous integration"
setup ci with this project. should be easy since we're so far only doing server side tests

@BerkeleyTrue what do you recommend - circle or travis?

[2015-08-04 13:27] benmcmahon100 commented on #45
@dcsan Here's the file https://github.com/FreeCodeCamp/freecodecamp/blob/staging/server/utils/index.js how do you want it implemented?

[2015-08-04 13:36] BerkeleyTrue commented on #67
I recommend CircleCI.

[2015-08-04 17:56] BerkeleyTrue commented on #66
Fixed!

[2015-08-04 17:56] #66 closed

[2015-08-04 18:50] dcsan commented on #49
https://gist.github.com/abhisekp/ec330ea725247bbf9e8e

[2015-08-04 19:34] dcsan commented on #45
I have a method in bonfires.js which is just pulling the data stored in the main json seed file - so the links are actually broken right now.
just need to copy/paste the

[code]

bringthis in from FCC code base, and add and make sure preloaded any other files that it needs to do the lookup. there's a `Bonfires.load()` fn near the top to add that to.

[code]

[2015-08-04 19:37] dcsan commented on #47
- namespacing
unfortunately not, everything just gets dumped with filenames based on the wiki entry title.
thats why i was using `js immutable` and putting a tag in the beginning of the name.

you also cant use `/` or other nasty symbols. i think _ is maybe OK but that gets hard to read.

- short/long glossary
everything after the first H2 gets cut off in the chat. so the summary goes above that.

[2015-08-04 21:44] dcsan commented on #49
Alex Wulkan
http://wulkan.me/

[2015-08-05 00:00] dcsan opened #69 "basic spoiler lesson"
in a main/bonfire room

[code]

then in the other room (how to start?) need some way to announce people joining that room?

[code]
to step through

[2015-08-05 00:12] #26 closed

[2015-08-05 00:33] dcsan opened #71 "add a hint for when users type '''"
add a keyword to the RoomMessages for this and return a :bulb:  use backticks!

![image](https://cloud.githubusercontent.com/assets/514002/9075839/cca2f226-3ace-11e5-9566-f546a3901ccc.png)

[2015-08-05 07:14] #65 closed

[2015-08-05 07:14] dcsan commented on #60
this is just a careful search/replace task

[2015-08-05 07:22] dcsan commented on #67
the current mocha tests are run with bin/test.sh

[code]

https://circleci.com/docs/getting-started

[2015-08-05 07:24] dcsan opened #72 "make compatible with node"
backticks
if (!name.includes(".md")) {

what else?

[2015-08-05 07:26] dcsan commented on #72
some people are worried about iojs messing with their NPM install and want to use node
i've used some ES6 features that node doesn't seem to have so need to revert

[2015-08-05 07:26] dcsan commented on #72
String.includes could be monkey patched easily

could also use babel but that would mean a build chain

[2015-08-05 07:29] dcsan commented on #72
http://kangax.github.io/compat-table/es6/#iojs

ref #60

[2015-08-05 07:31] dcsan opened #73 "add API key to BP calls"
@BerkeleyTrue you also need to check apikey param is in the call.

[2015-08-05 07:33] #56 closed

[2015-08-05 07:33] #50 closed

[2015-08-05 07:33] #46 closed

[2015-08-05 07:33] #19 closed

[2015-08-05 07:33] #4 closed

[2015-08-05 07:35] dcsan commented on #41
this looks to be hard.

[2015-08-05 07:35] #38 closed

[2015-08-05 07:37] dcsan opened #74 "fix /rooms/ menu on basic app + announce messages?"
currently this is crashing
http://bot.freecodecamp.com/rooms

should also be put behind a login but we need to fix oauth for that

[2015-08-05 07:37] dcsan opened #75 "debug oAuth on web app"
currently sign in oauth page is broken

![image](https://cloud.githubusercontent.com/assets/514002/9080619/49941acc-3b0a-11e5-8961-f8ad95fcd81d.png)

why?

[2015-08-05 07:39] dcsan commented on #74
[code]

[2015-08-05 07:40] dcsan commented on #74
probably just a variable that's not being set.

[2015-08-05 20:44] dcsan opened #76 "bonfire "info" should show less info"
right now the main chat gets cluttered. in the bonfireInfo method, only show the first line eg description[0] not the whole thing.

![image](https://cloud.githubusercontent.com/assets/514002/9097362/10dc5d84-3b78-11e5-885b-56eb578265ad.png)

[2015-08-06 22:07] dcsan commented on #71
since this is a static message it can be added here:
https://github.com/dcsan/gitterbot/blob/master/nap/data/rooms/RoomMessages.js

[2015-08-06 22:48] dcsan opened #77 "API to 'announce' or message a camperbot channel"
from the main FCC site, allow camperbot to be called
notified about a camper that is coming to a channel, or asking for help.

[2015-08-06 22:52] dcsan commented on #77
we need to provide a REST endpoint, like

[code]

this will post the message to the `FreeCodeCamp/helpBonfires` room of `I need help with Bonfire XX`

later: should also check an API key, as defined in the .env or appConfig, so we don't get spammed.

this is actually already implemented in `routes /go`
but needs to be pulled out to a separate endpoint which doesn't do the redirect.

[code]

[2015-08-07 00:59] dcsan commented on #71
@kirah1314

its the % of time that response will come out. otherwise the bot could get really annoying...
0.2 = 20% chance

[code]

[2015-08-07 02:17] kirah1314 commented on #71
Completed! I saved it to master branch. Did I miss any steps?

[2015-08-07 23:11] dcsan commented on #28
ok bit more thoughts on how to do this.

the scanInput method gets called on every message currently:
https://github.com/dcsan/gitterbot/blob/master/nap/data/rooms/RoomMessages.js#L105-L112

however, the "thanks"  response is not just static text - its a function.
so we could modify the entries in the

     var SharedMessages = {

to also return functions, as well as just static text. its a bit me

[2015-08-07 23:44] dcsan opened #78 "rename dotenv"
problems on windows

https://github.com/motdotla/dotenv/issues/83

[2015-08-07 23:47] #78 closed

[2015-08-08 08:11] dcsan opened #79 "thanks message should prompt for a wiki edit"
when someone says thanks
prompt them:

with the two links
picking up the bonfire name if someone had recently mentioned a bonfire in the chat
then we could link to that bonfire's wiki article.

[2015-08-08 17:43] dcsan opened #80 "archives date needs to be padded"
currently `archive` command puts out a date like:

https://gitter.im/FreeCodeCamp/CoreTeam/archives/2015/08/5

but in fact gitter expects the date to  2015/08/**0**5   - ie if day < 9 it has to be padded.
i did this for the month, but not the day.

[2015-08-08 17:46] #80 closed

[2015-08-08 17:48] dcsan opened #81 "bonfire hint could have link to custom chatroom"
![image](https://cloud.githubusercontent.com/assets/514002/9151572/eddddbe2-3dba-11e5-8fed-57946adafeb4.png)

on the BF hint, rather than saying 'type hint' we could add a link to the custom bonfire chat room.

[2015-08-08 17:49] dcsan commented on #81
also should trim down the info so just to show the first line of description. the RSAP stuff is redundant.

[2015-08-08 18:09] dcsan opened #82 "using @messages to people for 'whisper' like functionality"
![image](https://cloud.githubusercontent.com/assets/514002/9151627/d8d92e74-3dbd-11e5-923f-e9befdd4e936.png)

simialr to the format we have for thanks, but directed at a person

[2015-08-08 18:20] dcsan opened #83 "functional refactor with RxJs?"
https://github.com/Reactive-Extensions/RxJS

for the message based events, using RxJS could be a big benefit.

[2015-08-08 18:28] dcsan opened #84 "raffle function?"
http://deepbot.deep.sg/wiki/Bot+Commands

[2015-08-08 19:51] dcsan opened #85 "limit number of links sent back"
if there are too many links, gitter cuts us off for spam

esp for "rooms" command limit the number of lines / links that get sent back.

[2015-08-08 21:16] dcsan commented on #79
if the same user who typed thanks had previously typed in the name of a bonfire, then we can suggest an edit to that bonfire's page. eg

[code]

[2015-08-08 21:30] dcsan opened #87 "change roomMessages scanner to use regexs"
this file:
https://github.com/dcsan/gitterbot/blob/master/nap/data/rooms/RoomMessages.js

is used to scan for keywords in the chat.
right now its simple single word text

     var flag = (chat.includes(item.word));

instead it would be better to use regex's so we could do more sophisticated search

[2015-08-08 21:31] dcsan commented on #79
actually in the short term, we should just send people to the main wiki-style guide page

https://github.com/freecodecamp/freecodecamp/wiki/wiki-style-guide

[2015-08-08 21:48] dcsan commented on #87
I added an example in of how the data structure could be, but the regex isn't hooked up to the code yet.

[2015-08-08 21:51] dcsan commented on #85
I did have a feature like this once before, but removed it since it was cutting off content in the middle of a script tag.

[2015-08-08 22:05] dcsan commented on #85
fixed for rooms, but still need to do for the `find` command

[2015-08-09 20:12] #52 closed

[2015-08-09 20:32] #79 closed

[2015-08-09 20:33] #74 closed

[2015-08-09 20:45] #81 closed

[2015-08-09 21:00] #62 closed

[2015-08-10 06:55] dcsan opened #89 "bfDetails should show all the lines of the description"
currenlty it just shows the first line. probably just using the same

![image](https://cloud.githubusercontent.com/assets/514002/9160693/90167ea0-3ef1-11e5-92b7-6a645365cbfd.png)

[2015-08-10 06:55] #89 closed

[2015-08-10 07:30] dcsan commented on #87
workign i think in next release

[2015-08-10 07:30] #87 closed

[2015-08-10 16:15] #45 closed

[2015-08-10 16:22] #76 closed

[2015-08-10 16:23] dcsan commented on #72
I think this is done... will reopen if any problems found.

[2015-08-10 16:26] #72 closed

[2015-08-10 16:26] #71 closed

[2015-08-10 16:26] #69 closed

[2015-08-10 16:29] #60 closed

[2015-08-10 16:30] #58 closed

[2015-08-10 16:33] dcsan commented on #51
to explain. currently we search for

    Bonfire Exact Change

but we should also look for mentions like:

    Exact Change Bonfire

so we could search for something like:   /[bonfire]?exact change[bonfire]?/i
with some regex magic!

this would probably be patched into the scanWords area in RoomMessages

[2015-08-10 16:45] dcsan opened #91 "don't "join" rooms on startup"
the bot is already "joined" so we don't need to send another event for that.

[2015-08-10 17:03] dcsan commented on #36
So i'm looking to change something in the GBot.js.parseInput() function it looks like.
dcsan 09:53
yes
so, we'd need some concept of state
the quick way would be that when you write out a find result
store those links in the GBots state
when someone then enters a single number, look it up in that state list
and show that entry
so that would get us a long way to what we need
BUT it's a bit of a hac

[2015-08-10 17:06] dcsan opened #92 "add rooms for new bonfires"
# these are done?

bonfire-meet-bonfire
bonfire-reverse-a-string
bonfire-factorialize-a-number
bonfire-check-for-palindromes
bonfire-find-the-longest-word-in-a-string
bonfire-title-case-a-sentence
bonfire-return-largest-numbers-in-arrays
bonfire-confirm-the-ending
bonfire-repeat-a-string-repeat-a-string
bonfire-truncate-a-string
bonfire-chunky-monkey
bonfire-slasher-flick
bonfire-mutations
bonfire

[2015-08-10 17:09] #92 closed

[2015-08-10 17:13] dcsan commented on #49
this is a ticket to ask people to help create wiki articles around the bonfires content

[2015-08-10 17:16] dcsan commented on #85
when the find command truncates the list (ie IF there are >20 entries, show a message that is the case)

[2015-08-10 17:17] #44 closed

[2015-08-10 17:17] #43 closed

[2015-08-10 17:17] #42 closed

[2015-08-10 17:18] dcsan commented on #39
also do GIF animation captures of the main features, like looking up items in the Wiki
or a YouTueb video?

[2015-08-10 17:26] dcsan commented on #51
probably the best way to do this

in the RoomMessages
add a section to scan based on all the Bonfire names

get allDashedNames with this method: `Bonfires.allDashedNames`
- remove `bonfire`
create a regex to match either BF before or after

in the main help room, if either of these patterns are met, we can show a small help link

[2015-08-10 17:27] dcsan commented on #51
holding off on this for now as it would only be relevant in the main chat, and we already have a keyword search for "bonfire" there.

[2015-08-10 17:47] dcsan opened #93 "fix filename parser for windows"
in KBase.js

[code]

links currently look like this:

[code]

[2015-08-10 17:51] #25 closed

[2015-08-10 17:52] dcsan commented on #13
we have regex in the roomMessages now so we can do this

probably best to build up a list of the topics separately

[2015-08-10 17:58] dcsan commented on #73
howto:

add a line called 'apikey' to the dot.env file eg

apikey=TESTAPIKEY

on startup, read this into AppConfig.apikey

in the http library fix this call to read from AppConfig
https://github.com/dcsan/gitterbot/blob/master/nap/lib/utils/HttpWrap.js#L17

verify the API key is being read from env and added to out going calls
note, we'll change this on the real server environment.

[2015-08-10 18:01] dcsan commented on #77
the problem before to do this was glueing the gitter API to the web app
where you can only send messages to gitter with a roomID not a name.

there is much work in progress on this issue, and `GitterHelper.sayToRoomName` method should work

https://github.com/dcsan/gitterbot/blob/master/nap/lib/gitter/GitterHelper.js#L135-L140

so now its a case of reading the roomname and the message and calling

[2015-08-10 18:11] dcsan commented on #28
@irinatag the code for roomMessages is now using regex pls check it out!

[2015-08-10 18:12] irinatag commented on #28
@irinatag sure!

[2015-08-10 18:59] oab00 commented on #36
oh my god!
I'm sorry I didn't mention that I was working on this one.. was just playing around and thankfully got it working to some extent.
all that conversation would've helped in the implementation maybe, but oh well.

[2015-08-10 19:47] dcsan opened #97 "problems on joining rooms at startup"
[code]

[2015-08-10 19:48] dcsan commented on #97
somewhere a non-user is being used to join rooms at startup

https://gitter.im/api/v1/user/**undefined**/rooms

[2015-08-10 21:29] dcsan commented on #30
I added `GBot.overRateLimit() ` method

and also a test, but to run tests on windows you'll need to look into mocha

running on mac i use this script

[code]

and to run just one test

    bin/test.sh test/RateLimitTest.js

[2015-08-10 21:30] dcsan commented on #30
http://stackoverflow.com/questions/11634891/how-to-run-mocha-tests-on-windows-node-js-error-cannot-find-module-c-cygdri

[2015-08-10 21:56] #73 closed

[2015-08-10 22:01] dcsan commented on #36
@oab00 no problem! It's great to see someone take this and work on it, its a kind of core feature!

hey I merged in your changes but it doesn't seem to be working for me locally.
it's in master as of commit
e55db514bee5930943489d1f0ce65eb2d60a13f5

did i miss a merge, or did something else conflict? can you check again locally?

![image](https://cloud.githubusercontent.com/assets/514002/9185419/8d

[2015-08-10 22:02] dcsan commented on #36
as we chatted you might wanna parseInt the values getting entered by the user, as relying on numbers as named keys in a hashmap (object) is a bit risky!

[2015-08-10 22:51] irinatag commented on #75
@dcsan I plugged in my credentials from gitter, and it's working for me now after some debugging. Maybe you have incorrect redirect_uri: is it http://localhost:7891/login/callback not localhost:7000 as per their demo app?
![gitterbot_host_app](https://cloud.githubusercontent.com/assets/2681074/9186202/6fc74630-3f77-11e5-9b48-94f334764b20.png)

[2015-08-10 23:10] dcsan commented on #75
yes, that was what it was, thanks!!!

[2015-08-10 23:10] #75 closed

[2015-08-10 23:41] dcsan commented on #28
I made some more changes to it, please pull from branch 28

![image](https://cloud.githubusercontent.com/assets/514002/9186835/9b9c0dde-3f7e-11e5-897d-53d5fcd9bc1f.png)

[2015-08-10 23:42] dcsan commented on #28
so this works now with for example the 'txtx' and a @username but can you add a better regex to find the format above on `@username thanks` and maybe some other options people may type in.

i had to merge in master which included some other changes. this area needs refactoring i think.
@oab00 FYI on this above commit.

[2015-08-10 23:44] dcsan commented on #28
oops, this commit  c1de91089e81a9118739f1a1a974c8e170167723

[2015-08-11 01:37] dcsan opened #102 "simple README on how to start the app on windows"
can you add an explanation where to download node, install it and what to type to actually run the app, like we did this morning?

a screenshot or two would be good also

to host them (you can't add them to the github wiki directly, but we can add to a "github pages" branch)

you could add this to the main README if its short, or as a page in the Wiki for the app if longer...

[2015-08-11 02:11] dcsan opened #103 "GIF animations of the key features of using the gitterbot"
I want to make a pretty README file (or an explanation website) about the gitterbot.

we need some simple gif animation captures of the main features as short little GIF animations to add inline to this:

- thanks @dcsan
- about @dcsan
- help js ternary
- find js
- choose a menu option

then I can write up about those features underneath

these animations should be added to the gh-pages branch of

[2015-08-11 02:14] dcsan commented on #103
update made a basic page here, we just need to add the graphics in
http://dcsan.github.io/gitterbot/

[2015-08-11 07:10] dcsan opened #105 "joinRooms all together?"
according to chat with gitter.im folks, we can join multiple rooms at once
this will severly lower the number of API requests being made.

currently the app even in local dev mode seems to be loading ALL the bonfire rooms (80rooms?)
the API limit is 100req/minute and I've been seeing timeouts/API rate exceeded errors recently.

[2015-08-11 07:11] dcsan commented on #105
after stop/restaring the app 2,3 times:

[code]

[2015-08-11 07:13] dcsan commented on #105
although that doc doesn't seem like we can join multiple rooms at once:
https://developer.gitter.im/docs/rooms-resource#join-a-room

[code]

[2015-08-11 07:14] dcsan commented on #105
cc @MadLittleMods can you clarify if we can join multiple rooms at once?

[2015-08-11 07:16] dcsan commented on #105
update: this is requires a possible API change at their end.

[2015-08-11 07:19] dcsan opened #106 "dont join all bonfire rooms in dev mode"
it seems all Bonfire rooms are getting joined at startup even when the bot is identified as Botlocal

[code]

RoomData should only return that data for the camperbot. that would prevent the api-over problems of #105

[2015-08-11 07:30] dcsan opened #107 "refactor message dispatch and findAnyReply"
we now have a lot of logic inside `findAnyReply` method
and a lot of if nesting

this should be refactored to be clearer.

https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/GBot.js#L108-L136

possibly all commands could take a regex, similar to how hubot works.
at startup (I guess) each command registers itself with a callback:

[code]

https://github.com/github/hubot/blob/master/docs/scr

[2015-08-11 07:30] dcsan commented on #107
cc @dting @irinatag

[2015-08-11 07:31] #97 closed

[2015-08-11 11:12] MadLittleMods commented on #105
@dcsan This does require an API change on our end which requires considerable thought on our part to make sure we get it right. We still have not decided on whether we will implement but will probably make a definite decision on Monday when another team member returns.

I am curious what all goes on on startup/initialization/bootstrap. I know that you join ~40 rooms which is 40 requests and scan t

[2015-08-11 11:14] awesomeaniruddh commented on #102
Can I do this?

[2015-08-11 11:29] awesomeaniruddh commented on #102
I'd like to do this. I guess I should guide the user through the authentication process as well using the Gitter oAuth keys?

[2015-08-11 17:41] dcsan commented on #102
hey @awesomeaniruddh that would be `awesome` haha if you'd like to take a crack.

update - thanks! I added some comments to the PR, please can you check?

[2015-08-11 18:08] dcsan commented on #105
I think the issue is around joining lots of DM rooms, where the bot has been messaged by people directly. as the app gets used, this list will grow to a large number.
https://github.com/dcsan/gitterbot/blob/f918142a7c09d274b96c3d5e96a88d0f19f43e12/nap/lib/bot/GBot.js#L327

looking at this:

So we can use one call to "bulk listen" to all rooms that are sending events for this user? That seems like

[2015-08-11 21:10] dcsan commented on #103
@kirah1314 is this something you could help with?

[2015-08-11 23:57] irinatag commented on #28
@dcsan ok, thanks for doing that! I'll work on it.

[2015-08-12 00:08] dcsan commented on #106
commented out the DM rooms for now.

[2015-08-12 00:08] #106 closed

[2015-08-12 00:12] dcsan commented on #24
cant fix - svg avatar

[2015-08-12 00:12] #24 closed

[2015-08-12 00:13] dcsan commented on #7
@irinatag maybe you can think about this one next?

[2015-08-12 00:26] irinatag commented on #7
@dcsan great- full text search is fun. just assign me next time, don't ask :)

[2015-08-12 01:02] dcsan opened #109 "index command crashes"
[code]

we could porbably disable this command, not sure what its doing

[2015-08-12 01:33] dcsan commented on #7
ok!

i think the function should be "search" rather than find.
and look in the KBase
https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/KBase.js#L69
search in the data field
we don't have database backing, so you'd need to just use filter on the elements to find it.

Let me know if you have any Qs after taking a first look.

[2015-08-12 01:38] irinatag commented on #28
@dcsan pushed my regex. one issue that's now popping up: the warning that I already gave you points gets logged, but doesn't display to the user.

![nap_ _irinatag_irinas-macbook-air____dev_gitterbot_nap_ _zsh_ _51x57](https://cloud.githubusercontent.com/assets/2681074/9214874/0f694a7c-4058-11e5-8c0e-f1c3f0ccfce3.png)
![_demobot_test_-_gitter](https://cloud.githubusercontent.com/assets/2681074/921

[2015-08-12 18:44] dcsan opened #111 "scan wiki entries for links"

[2015-08-12 18:54] dcsan commented on #111
@irinatag can you look at?

[2015-08-13 16:28] dcsan opened #116 "remove 'topics' from the bot help"
![image](https://cloud.githubusercontent.com/assets/514002/9255352/8b22be3c-419d-11e5-9146-dcd0bab49ac4.png)

we don't have a topics command right now cos it was getting too large.
please remove from the help.

we could add a wiki page called topics and then

wiki topics

would be like a main page.

[2015-08-13 16:52] dcsan opened #117 "better parsing on Bonfire"
![image](https://cloud.githubusercontent.com/assets/514002/9255845/d31306e0-41a0-11e5-8b7b-075833c1f7a0.png)

maybe in future we could also look if there are a few words after the word Bonfire, and pull out some help on that directly.
currently the "Bonfire" keyword has to be at the start of a line.

[2015-08-13 22:31] dcsan opened #118 "trim down the longer wiki entries"
when we have long entries with no H2 breaks in the wiki, just trim them after say 20 lines
add a " ... more " link at the bottom

BUT be good to check that the first chunk doesn't contain a script tag, as that will mess up formatting if you cut off the closing tag.. (can do this later if we see if its a problem or not)

![image](https://cloud.githubusercontent.com/assets/514002/9263207/1adbcc08-41

[2015-08-15 02:24] dcsan commented on #28
if you see problems like that it should definitely be a separate issue, or its too hard to track lots of things on one ticket.

[2015-08-15 03:41] dcsan opened #119 "check for apikey on calls to FCC (at FCC api endpoint)"
@BerkeleyTrue we now add an apiKey on all FCC calls
at some point can you add a check for that? i'll DM you with the actual key
note its apiKey camelcase.

the full req that goes out is like this. maybe i should nest some of these fields, but you're ignoring most of it.

[code]

[2015-08-15 03:48] dcsan commented on #119
actually I recall we discussed adding this as an http header, i think you were going to look up in the docs how you'd want that formatted. I can add it like this fairly easily I think.

[code]

[2015-08-15 03:59] BerkeleyTrue commented on #119
Header is better

[2015-08-15 04:20] camperbot opened #120 "MDN lookup command"
we already have some code to turn MDN or JS function names into MND links
it would be good to add a command that gave those as links,
or even to add them to the list of content that comes back from the `wiki` or `find` commands.

[2015-08-15 04:22] dannyfritz commented on #120
Using the http://mdn.io/ proxy might be useful https://github.com/lazd/mdn.io

[2015-08-15 04:23] dcsan commented on #119
OK it should be there in the header now as per request api.

            "Authorization" : apiKey

a little bit of a pain for me to test, but let me know if you see any problems.

[2015-08-15 05:09] dcsan opened #121 "don't send all the random data to FCC when calling the API"
currently the HttpWrap.callApi  "options"  contains the full input

[code]

we really only need to send
- options.input.cleanText
- (mentions, if there are any?)

to FCC for archiving
be careful not to modify the incoming options object tho as bot and other properties there are used later in the code.

[code]

[2015-08-15 05:21] dcsan opened #122 "the warning that I already gave you points gets logged, but doesn't display to the user."
as documented here:
https://github.com/dcsan/gitterbot/issues/28#issuecomment-130132519

![0f694a7c-4058-11e5-8c0e-f1c3f0ccfce3](https://cloud.githubusercontent.com/assets/514002/9287619/cdd0e23c-42d2-11e5-8066-78d42e4078e2.png)

[2015-08-15 05:22] dcsan commented on #122
i think this is cos we chose not to display the "user not found" error message to the users, since we are still running against the beta.fcc server. when we switch over to live production site, we can remove that limit and send all errors back.

[2015-08-15 07:09] dcsan opened #127 "document the "echo" function"
since this command shows how to add a command to the bot, this should be highited in the readme in a "getting started" section or "how to add commands"

https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/BotCommands.js#L95-L98

    // very simple example function showing how to parse a message and respond
    // 'echo' is already a botCommand
    echo: function(input, bot) {
        var us

[2015-08-15 07:58] dcsan commented on #120
thanks @dannyfritz didn't know about that.

http://mdn.io/apply
http://mdn.io/call

I hit a captcha one time tho.

we'd still need a list of javascript keywords tho, sure that cleanly exists somewhere..

[2015-08-15 07:58] dcsan commented on #120
is this something you'd be at interested in helping with? > @dannyfritz ?

[2015-08-15 08:00] dcsan commented on #120
FYI here's the other file we have:
https://github.com/dcsan/gitterbot/blob/master/nap/data/seed/bonfireMDNlinks.js

ideally tho i wanted to show a small code fragment inline eg like:

![image](https://cloud.githubusercontent.com/assets/514002/9288060/0869e126-42e9-11e5-9f48-289199c46771.png)

[2015-08-15 10:39] oab00 commented on #93
this was fixed in #100  (special number) ;)

[2015-08-15 10:39] #93 closed

[2015-08-15 13:54] oab00 commented on #116
`topics` command is actually still there in `BotCommands.js`
https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/BotCommands.js#L216

and it crashes the bot because  `KBase.topicNameList` is undefined and `slice` is called on it

[2015-08-15 19:27] dcsan opened #129 "more resilient API calls"
when FCC API is down we currently fail hard:

wrap a try/catch at least around this...

[code]

[2015-08-15 20:24] dcsan commented on #129
fixed for now in rel-010

[2015-08-15 20:24] #129 closed

[2015-08-15 20:25] dcsan commented on #93
thanks for the housekeeping!

[2015-08-15 23:20] dcsan opened #130 "anything addressed to @camperbot should be replied to"
we should alias `@?camperbot help` to the BotCommands.help

and anything not found that has camperbot in the request should at leaste be polity replied to.

![image](https://cloud.githubusercontent.com/assets/514002/9291245/7b86cec8-4369-11e5-957c-b9bce45a0c8d.png)

[2015-08-15 23:21] dcsan commented on #130
this is a good small ticket if anyone wants to take it?  @dting @irinatag

[2015-08-15 23:22] dcsan opened #131 "`Music` should just be a regex command"
there are some one-word commands that could/should be moved to the regex parser RoomMessages.

eg music

https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/BotCommands.js#L260-L264

and probly some others that don't use params or much else.

[2015-08-16 18:57] dcsan opened #133 "error message for non-existent users?"
right now we say "sending" before checking response from the API, if a user exists or not.

its faster that way (no lag) but maybe confusing...
once FCC settles down we can show the "user not found" error message, which is already coded in but just commented out.

![image](https://cloud.githubusercontent.com/assets/514002/9294836/e16b110a-440d-11e5-87dd-e762c35ff27f.png)

[2015-08-16 18:59] dcsan commented on #133
@abhisekp this can be your first contribution! all you have to do is remove the comments on this line
AND test it.

https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/cmds/thanks.js#L126

[code]

[2015-08-18 10:56] abhisekp opened #134 "Remove ghost mentions"
When user *thanks* more than one user mentioning their own username in the message, then the bot shows a ghost mention `@` without a username.

![Redundant Mentions](http://i.imgur.com/RGOFLtK.png)

[2015-08-18 11:07] abhisekp opened #135 "Use SemVer version naming convention"
SemVer version naming conventions are easy to manage.

### SemVer Naming
![Linux](http://i.imgur.com/ZXDok62.png)

### Non-SemVer Naming
![Non-SemVer](http://i.imgur.com/6lYj5mN.png)

**Reference:** http://semver.org

[2015-08-18 11:14] abhisekp opened #136 "Add CONTRIBUTE file"
Adding a contribute file helps detail the specifics about how a project’s maintainer would like to see patches or features contributed. This can include what tests to write, code syntax style or areas to focus on for patches.

**Reference 1:** http://contribute.md
**Reference 2:** https://guides.github.com/activities/contributing-to-open-source/#project

[2015-08-18 13:54] abhisekp opened #137 "Rate of thanks giving issue"
The thanks rate can be limited to 5 - 10s interval. More than that creates problem while genuinely thanking others for their help.

![Thanks Rate](http://i.imgur.com/bZFhQOF.png)

[2015-08-18 14:22] abhisekp opened #138 "Thanks receiver not found"
The receiver exists but is not given thanks. Bot replies with receiver not found error.

![Receiver Not Found](http://i.imgur.com/4E6Y16J.png)
![Receiver](http://i.imgur.com/EYPgWkF.png)

[2015-08-18 14:46] abhisekp opened #139 ":+1: or :thumbsup: should increment brownies"
The emojis associated with `:+1:` and `:thumbsup:` are also complimenting the user which should increase their brownies.

Also update the camperbot thanks reply to reflect compliments instead of thanks.

![+1](http://i.imgur.com/45XoSet.png)

[2015-08-18 14:59] abhisekp opened #140 "Explanation of Labels Needed"
The Labels marked to issues needs to be explained in the wiki.

![Labels](http://i.imgur.com/ejnefOO.png)

[2015-08-18 15:32] abhisekp opened #141 "Saying thanks to bot needs update"
A user saying thanks to bot should be asked to say thanks to a valid user.

### When user thanks the bot
![Thanks to @camperbot](http://i.imgur.com/xn5GI57.png)
-----
### Ask user to thank a genuine user
![Thanks](http://i.imgur.com/LfAyWTw.png)

[2015-08-18 15:53] abhisekp opened #142 "Fix thanks regex"
Replies to unwanted words such as *tank* and *tanks*.
![Thanks](http://i.imgur.com/VEbSHcv.png)

**Reference:** https://regex101.com/r/hH5cN7/11

[2015-08-18 16:10] abhisekp opened #143 "Update command need not be so verbose"
The update command verbosity must be controlled in some chat rooms.

For lowest verbosity levels, it can just list the files updated or just say update successful or failed.

### High Verbosity
![Verbose update](http://i.imgur.com/lLIPHE6.png)

[2015-08-18 17:59] dcsan commented on #140
P1/2/3 is priority

S/M/Large are how much work/complexity

generally P1 + small (+help wanted) = best ones to tackle

[2015-08-18 19:45] abhisekp commented on #133
This should also address response to **@/all**.

![Response](http://i.imgur.com/VDcAAP2.png)

[2015-08-18 19:47] abhisekp commented on #103
I might contribute gif animations of some of the key features.

[2015-08-18 20:14] abhisekp opened #144 "Limit Hello World response to new users"
The bot must check if the user is a new user by checking the brownie points the user already has and only respond to new users.
Otherwise, the bot could also reply differently to experienced users who behave like new users by replying something funny!

![Hello World](http://i.imgur.com/9YHHHFa.png)

[2015-08-18 20:18] abhisekp opened #145 "Fix broken whoami command"
Currently, it lists an object with little significance to user.

![whoami](http://i.imgur.com/RmLPJUk.png)

[2015-08-18 20:31] mobesa opened #146 "Enable Multi-Command Mode"
When two commands are simultaneously called, **gitterbot** processes the first one only:
![Screenshot](http://i.imgur.com/T5GACKV.png)

[2015-08-18 20:34] abhisekp opened #147 "DUPLICATE #146"
`thanks` command should override `about` command when used simultaneously.

![about thanks](http://i.imgur.com/T5GACKV.png)

[2015-08-18 20:35] abhisekp commented on #146
`thanks` command should override `about` command when used simultaneously.

[2015-08-18 20:37] #147 closed

[2015-08-19 03:57] abhisekp commented on #41
That would also be a mess to write directly to wiki. Better to rely on direct edit in wiki than from chat room.

[2015-08-19 04:15] abhisekp commented on #140
Which factors decide the Priority and the S/M/Large labels?

[2015-08-19 04:25] dcsan opened #148 "Add gitterbot to remaining FCC rooms"
Gitterbot is awesome. Campers are using it like crazy. Have you been monitoring the statistics?
He does a few key things remarkably well
I was wondering whether you could roll him out in the rest of our rooms
There are about 400 of these - is there a good way to do these in batch? They’re listed here: https://github.com/FreeCodeCamp/freecodecamp/wiki/Official-Free-Code-Camp-Chat-Rooms and https://

[2015-08-19 04:27] dcsan commented on #148
this should be as simple as adding to list of rooms here:
https://github.com/dcsan/gitterbot/blob/master/nap/data/RoomData.js#L205

those lists of rooms could be refactored from a list of hashes to just one-line roomname array
although thats not needed at this point

[2015-08-19 04:31] dcsan commented on #140
SML = my assessment
P = what's most impact + other people's requirements

[2015-08-19 05:30] abhisekp commented on #140
What do the other labels such as *question*, *PX-backlog* and *Content* mean?

[2015-08-19 05:41] abhisekp opened #149 "Use GitIgnore.io API to generate .gitignore"
Generate `.gitignore` file using the GitIgnore.io API to ignore specific directories and files.
Include these categories such as `OSX`, `Windows`, `Intellij`, `SublimeText` and any other IDE, editor or operating specific files and directories.

Add other custom directories and files as required.

**Reference:** https://www.gitignore.io

[2015-08-19 06:03] dcsan commented on #140
for other ppl to use

PX - means no priority
Content - stuff like text
ᐧ

On Tue, Aug 18, 2015 at 10:30 PM, Abhisek Pattnaik <notifications@github.com

--
-----------------------------------------------
David 'DC' Collier
  dc@biz.pikkle.com
  skype: d3ntaku
  http://jp.linkedin.com/in/dcsan/
-----------------------------------------------

[2015-08-19 06:10] abhisekp commented on #140
What factors constitute adding `bug` as the label for an issue?

[2015-08-19 07:02] dcsan commented on #148
@abhisekp let me know if you can do this @QuincyLarson was keen to get the bot live in more rooms and so your help would be appreciated. this is mostly a text edit so it should be OK to just try it and see if we have problems with the rate limit and need a planB.

[2015-08-19 08:06] abhisekp commented on #148
@dcsan I guess this will only be an addition of objects similar to as follows. Right?

[code]

[2015-08-19 08:20] oab00 commented on #148
@abhisekp you could make a one-line roomname array and then add a one-line map function at the end to turn them into objects :smile:
[code]
as can be seen here -> http://repl.it/BC6M

[2015-08-19 08:22] abhisekp commented on #148
@oab00 sure. Nice.  That would be really great for later when the rooms will be read from a flattened array.

[2015-08-19 14:24] abhisekp opened #150 "Error on clone in Windows"
Serious error!! I can't edit this repo in Windows because of the colon `:` character in the filename. :worried:
![](http://i.imgur.com/BjVVBvh.png)

Shouldn't the `node_modules` directory and this `wiki` directory be gitignored so that they don't show up in the repo? Technically, they shouldn't be included in the repo because they're not source files. They're only additional files which can be dow

[2015-08-19 16:45] dcsan commented on #150
@abhisekp you have to @ mention me or i won't get a notif.

so this is a problem, if people name files in the wiki like that, and its happened before. it will keep happening. and it messes up windows.

we could try ignoring the submodule files, i guess, and just do anything git/wiki related on a unix machine (where this isn't a problem, luckily).

[2015-08-19 16:56] dcsan opened #151 "> clarify error thanks without any mentions [object Object]"
bot-0 (err): thanks without any mentions [object Object]

looks like i'm logging an object in the error message
has to be third param to the Utils.warn message or it gets obj converted to a string.

[2015-08-19 16:57] dcsan commented on #145
that could just be removed.

[2015-08-19 17:04] dcsan commented on #91
@dcsan When you are joining the rooms on start-up, what are the rest of the requests getting used up with?
dcsan Aug 11 14:01
@MadLittleMods tx for response, i replied on the ticket. i think its due to all the DM rooms that have been opened with the bot.
mydigitalself Aug 12 05:36
do you connect to each of the DM rooms on startup?
MadLittleMods Aug 12 06:16
@mydigitalself Yes, I believe it happens

[2015-08-19 17:17] dcsan commented on #91
https://gitter.im/gitterHQ/fcc?at=55d4ba0f4970437b3c15d720

currently I "join" the room (even though I maybe already joined) in order to get a Room Object, that I can stream from.
[code]
to avoid doing that I need to replace this code with parts from the RT api:
just checking / thinking aloud :smile:

[2015-08-19 17:18] dcsan commented on #91
related to
https://github.com/dcsan/gitterbot/issues/105

[2015-08-19 17:20] dcsan commented on #150
i renamed the file, and updated the repo, please check if its fixed for you.

this won't stop it happening again tho :(

[2015-08-19 17:20] dcsan opened #152 "switch to new realtime API for listening"
the realtime streaming API has some benefits eg you can just respond to all incoming messages

this will mean we can support DMs and also avoid the startup problems on #91 #105

potentially a large task to switch over though as the new RT client uses marionette - tho we don't have to use it?

[2015-08-19 17:21] dcsan commented on #152
:point_up: [August 19, 2015 9:50 AM](https://gitter.im/gitterHQ/fcc?at=55d4b3ca569fb38114106509)

[2015-08-19 18:03] dcsan commented on #152
this API
https://github.com/gitterHQ/realtime-client#description

[2015-08-19 18:10] dcsan commented on #148
i think most of the main rooms are added, its just the city rooms

https://github.com/FreeCodeCamp/freecodecamp/wiki/List-of-Free-Code-Camp-city-based-Campsites

so it's just pull that list and remove any punctuation.

we'll have to see what happens when we run this. i think it may time out gitter API but we only have to join each room ONCE EVER. so we could either

- write lots of code to join on

[2015-08-19 18:11] dcsan commented on #148
i guess you didn't manage to test this?

we'll have to see what happens when we run this. i think it may time out gitter API but we only have to join each room ONCE EVER. so we could either

- write lots of code to join on an interval -
- or switch the order of the rooms and run the startup code 5 times! we should get 80 or so rooms per run :)

[2015-08-19 18:13] abhisekp commented on #148
You could make the bot join the rooms in chunks!

[2015-08-19 18:15] dcsan commented on #148
yeah with an interval or iterator if you want to try and write some fancy ES6 code.

discussion
https://gitter.im/gitterHQ/fcc?at=55d4b3ca569fb38114106509

[2015-08-19 19:15] dting opened #154 "Gitterbot could echo @freecodecamp tweets into the chat rooms"
This would be beneficial for people hanging out in the chat rooms especially when there are server outages.

[2015-08-19 19:16] abhisekp commented on #148
@dcsan update the above comment. The link is broken.

[2015-08-19 19:24] dcsan commented on #148
oh that's a private chat.
relevant parts are on #105

[code]

[2015-08-19 19:25] #148 closed

[2015-08-19 20:47] dcsan commented on #136
is there a way to scrape the github graphs for this?

[2015-08-19 20:47] #103 closed

[2015-08-19 20:48] dcsan commented on #133
@abhisekp did you do this one?

[2015-08-19 20:48] #39 closed

[2015-08-19 20:49] dcsan commented on #36
I think this is done? closing thanks @oab00 !

[2015-08-19 20:49] #36 closed

[2015-08-19 20:50] dcsan commented on #137
this has to be done at FCC side > @BerkeleyTrue what's it set at right now?

i also noticed this in channels people giving thanks and "thanks again mate!" in a conversation.

[2015-08-19 20:52] dcsan commented on #77
best to wait until we switch gitter API used

[2015-08-19 20:58] dcsan opened #155 "multiplayer quiz games"
feature idea

add "quiz" game

anyone can add quiz questions to the wiki
set format with question / answers / hints

chat room session opens
10 questions (who ever is in the room)

could be multiple choice... or free typing
each round - people type their answer / choice (1, 2 etc)
each round we announce the score
end of 10 questions - show the final score

## multiplayer mode
first person to answe

[2015-08-19 21:01] abhisekp commented on #133
@dcsan I don't quite get as to why removing the comment would solve the issue. I don't want to just blindly do that without knowing what I'm doing. Care to explain?

`// blob.bot.say(message, blob.input.message.room);`

[2015-08-19 21:03] abhisekp commented on #137
but that **"thanks again mate!"** mostly occurs in less than 10-15s so, this could be fixed.

[2015-08-19 21:07] abhisekp commented on #136
Scrap the github graphs? Why? Did you intend to make something like this https://waffle.io/FreeCodeCamp/FreeCodeCamp/metrics/throughput ?

This is a simple markdown file that should show a guideline about contributing to the project which should include the environment setup, source code formatting styles, linting preference, etc.

[2015-08-19 23:13] dcsan commented on #136
oh i thought you meant like a who's who for status? like:
https://github.com/dcsan/gitterbot/graphs/contributors

but yeah a contrib guidelines, sure, feel free to write one.

[2015-08-19 23:36] #145 closed

[2015-08-20 01:02] dcsan opened #157 "wiki update command format"
did someone change this? looks better now

cc @abhisekp

![image](https://cloud.githubusercontent.com/assets/514002/9373203/79c32326-469c-11e5-9b92-647b4c5c41c1.png)

[2015-08-20 07:29] dting commented on #142
I think this might have been intentional for typos.

[2015-08-20 07:33] abhisekp commented on #142
I think people never make typos such as `tank` instead of `thnks` or `thnx`, etc. So regex must be modified accordingly.

[2015-08-20 07:35] abhisekp commented on #157
@dcsan I'm not the one. Must be in the commit history of the file.

[2015-08-20 07:38] dting commented on #142
I don't feel like people talk about tanks too often I would just leave this in and add the others if you think they are needed. At the same time I don't have any strong feelings about this issue.

[2015-08-20 07:39] dcsan commented on #157
@oab00 did you fix this? maybe the bot has developed self-awareness and is improving itself!

[2015-08-20 07:43] abhisekp opened #159 "Ignore auto-generated file directories"
The directories such as `nap/data/wiki` and `nap/node_modules` can be added to the `.gitignore` file.
Those can be initiated or generated on deployment.

[2015-08-20 07:50] abhisekp commented on #142
@dting hence this issue is a Priority 3 and small issue. :smile:
This is not a big thing to worry about though.

[2015-08-20 07:51] abhisekp commented on #157
@dcsan it's an AI Bot. Why don't you just go through the commit history of the concerned file.

[2015-08-20 17:02] dcsan opened #160 "crash on startup?"
[code]

[2015-08-20 17:03] dcsan commented on #160
maybe bonfire links? links are broken/don't exist for that bonfire?

[2015-08-20 17:05] dcsan commented on #160
[code]

[2015-08-20 17:05] abhisekp commented on #160
@dcsan is it because of the new camperbot room addition code?

[2015-08-20 17:07] abhisekp commented on #160
@dcsan is it possible to get all rooms from gitter for freecodecamp organisation and join all those rooms?

[2015-08-20 17:09] dcsan commented on #160
no i havent deployed that yet.

i think it maybe a bonfire with bad links related to MDN

could you put a guard around that `path ` call?

[code]

or something like that?

bot-0 (err):         path = path.replace("?", "%3F");  // not URL encoded

[2015-08-20 17:09] dcsan commented on #160
`!path` will trap undefined and null, correct?

[2015-08-20 17:09] dcsan commented on #160
i prefer coffeescripts `unless path` ...

[2015-08-20 17:10] abhisekp commented on #160
why does it say `bot-0 can't find rooms with roomUri FreeCodeCamp/FreeCodeCamp `

[2015-08-20 17:14] dcsan commented on #160
OK Pushed a fix for this.

other error is down to the "joiing too many rooms" gitter issue

[2015-08-20 17:15] dcsan opened #161 "uptime monitor"
the bot should respond to an API call somewhere
and then we can have an uptime monitor

[2015-08-20 17:40] dcsan commented on #161
if botstatus replied over http (responded to a GET request) that would be fine.

[2015-08-20 17:47] SaintPeter commented on #161
So you're talking about just adding a listener on HTTP for "GET" that would respond 200/OK?

[2015-08-20 17:51] dcsan commented on #161
yeah
it could also send back the botstatus (version info etc) as later I may add stats like "concurrent users" there or some other info.

[2015-08-20 18:51] abhisekp commented on #136
Adding a `CONTRIBUTING.md`file, shows the following line when submitting an issue.

![CONTRIBUTE](http://i.imgur.com/NadFxjl.png)

[2015-08-20 19:04] SaintPeter commented on #161
Well, I've just got it replying "OK" right now.
We can add more stuff later.

[2015-08-20 19:04] dcsan commented on #161
awesome! i'll merge + deploy tonite /tmrw

[2015-08-21 00:53] abhisekp opened #164 "Delete ignored files"
Untrack and delete unwanted or auto-generated files from repo which are ignore using `.gitignore` files.

[2015-08-21 01:47] abhisekp commented on #164
Deletion worked using the following command
[code]

**Reference:** http://stackoverflow.com/a/28806991/1262108

[2015-08-21 03:15] abhisekp opened #166 "nodemon install fails"
`npm install` doesn't work for installing `nodemon` in the `devDependencies`
![](http://i.imgur.com/rPjLezH.png)

Changing in `package.json` file
`"nodemon": "~1.0.15",` to `"nodemon": "",` shows a warning
[code]

cc: @dcsan

[2015-08-21 03:26] dcsan commented on #138
cos their FCC name != github name, they need to rename themselves on FCC.

[2015-08-21 03:31] abhisekp commented on #138
@dcsan so they need to sync github in their profile? Right? That will solve the issue?

![](http://i.imgur.com/LkURx7M.png)

[2015-08-21 03:38] dcsan commented on #138
dunno.

[2015-08-21 05:40] #151 closed

[2015-08-21 05:57] #161 closed

[2015-08-22 19:12] abhisekp commented on #142
Also thank on writing the following

- ty
- thanky
- thanksy
- thanxy
- thnq
- tq

[2015-08-23 13:14] abhisekp opened #167 "Broken wiki links"
The wiki links for viewing the full page are broken.

On clicking on **title** and the footer **read more** links,
![](http://i.imgur.com/UqNS57v.png)

the links takes to this page instead of showing the corresponding wiki page.
![](http://i.imgur.com/GBmGmmf.png)

[2015-08-23 13:24] dcsan commented on #167
pleaes tell rafase282

its cos of punctuation i guess.
ᐧ

On Sun, Aug 23, 2015 at 6:14 AM, Abhisek Pattnaik <notifications@github.com>
wrote:

--
-----------------------------------------------
David 'DC' Collier
  dc@biz.pikkle.com
  skype: d3ntaku
  http://jp.linkedin.com/in/dcsan/
-----------------------------------------------

[2015-08-23 13:31] abhisekp commented on #167
@dcsan I guess it's camperbot which is removing the punctuations while reading the file names. Isn't it?

[2015-08-25 02:20] dcsan opened #168 "tighten regex on troll"
We should tighten the regex on this expression

    (^|\s)troll(\s|$)

![skitch](https://cloud.githubusercontent.com/assets/514002/9457223/2b2b9a0c-4a95-11e5-957f-95383c7977b1.png)

cc @QuincyLarson

[2015-08-25 07:01] #160 closed

[2015-08-25 07:01] dcsan commented on #138
dunno if sync fixes it, but they can change their FCC name to match. if the sync does that, is a question for @BerkeleyTrue

[2015-08-25 07:02] dcsan commented on #138
we *could* give them a hint on how to do that in the error message tho.

[2015-08-25 07:04] dcsan commented on #167
could be. but titles with punctuation in is also going to blow up your windows system so i'd prefer to avoid it

[2015-08-25 07:06] dcsan opened #169 "GA tracking"
add tracking on GA for the app
https://www.npmjs.com/package/universal-analytics

basic tracking with events per room would be great
we could add more granular control later...

we could in fact track every message since we are listening to it all
so this is not just the bot but would be general traffic stats for the chat.

[2015-08-25 07:42] dcsan commented on #155
the big new feature I'd like to add.

[2015-08-25 07:43] dcsan commented on #155
@abhisekp @SaintPeter @dting any thoughts?

[2015-08-25 07:43] abhisekp commented on #167
@dcsan Windows doesn't allow only these chars in filename.
![](http://i.imgur.com/oECEOjv.png)

[2015-08-25 08:00] abhisekp commented on #155
@dcsan we can use the shuffler algo for the quiz in https://github.com/abhisekp/Quiz-Revamped/blob/master/js/script.js#L212-L222

[2015-08-25 08:03] abhisekp commented on #168
@dcsan wouldn't a word break `\b` around the word **troll** be sufficient?

[2015-08-25 15:34] BerkeleyTrue commented on #138
Usernames are now derived from Github. A user can sync with Github and that will overwrite their username with their username from Github.

[2015-08-25 17:47] abhisekp opened #170 "Multiple thanks to a user with multiple mentions"
Thanks to a user with mutiple mentions in the message triggers `thanks` command multiple times.

![](http://i.imgur.com/3DtjPyE.png)

cc: @dcsan

[2015-08-25 19:11] evaristoc commented on #169
@abhisekp and @dcsan I asked at **gitterHQ/developers**... I also asked for any special policy they have about using GA over their pages... my guess is that someone at FCC could receive some kind of access to special data as room owner (I have seen that happening in other places)... (*should this note be better written at the issue itself???*)

[2015-08-25 19:45] dcsan opened #172 "stagger room joins"

[2015-08-26 09:40] evaristoc commented on #169
This is the answer from someone at gitterHQ/developers:

[2015-08-27 10:53] abhisekp opened #173 "Bot crashes at startup if no files exist in wiki directory"
![](http://i.imgur.com/nSgL8bS.png)

### Current Solution
Create an empty `.md` file in `nap/data/wiki/` directory.
`touch nap/data/wiki/no-crash.md`

[2015-08-27 11:03] abhisekp opened #174 "Update and Explain command conflict or clash"
While someone is updating the wiki via the `update` command, the wiki help command i.e. `explain` command doesn't work due to the way of updating the wiki by removing the `.md` files first.

[code]

In between execution of the above two commands, any calls to the `explain` command fails without any command event queue to execute it after update.

[2015-08-27 11:09] abhisekp commented on #173
**This might be due to the following code.**

**File:** [`nap/lib/bot/KBase.js`](https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/KBase.js#L51-L80)
[code]

[2015-08-27 18:19] dcsan commented on #173
can you paste errors as text? its easier to comment on..

EADDR in use usually means you have another node instance running. not
saying an empty wiki won't crash things, but that's not what's the problem
here...
ᐧ

On Thu, Aug 27, 2015 at 4:09 AM, Abhisek Pattnaik <notifications@github.com>
wrote:

--
-----------------------------------------------
David 'DC' Collier
  dc@biz.pikkle.com
  skype: d

[2015-08-27 18:30] abhisekp commented on #173
@dcsan I'm not running multiple node instances apart from brackets. And brackets is not the reason of the crash. The bot runs normally at other times even if brackets is running.

That crash error goes away as soon as I apply the solution mentioned i.e. add an empty `.md` file to `nap/data/wiki/` directory.

[2015-08-31 20:16] abhisekp commented on #142
Don't listen to username with the regex pattern matching thanks.
![](http://i.imgur.com/Ofrq2Bn.png)

[2015-09-01 13:17] abhisekp commented on #120
@dcsan there is a shortcut to search in devdocs.io
Might be helpful `http://devdocs.io/#q=js+array+slice`

[2015-09-01 15:10] ArielLeslie commented on #142
Additionally, it should recognize keywords followed by a emoji with no wordbreak (i.e. `thanks:D` or `:sparkles:Thanks:sparkles:`).  These would be demarcated by `:`

[2015-09-01 15:12] ArielLeslie commented on #142
Addressing alternative words (do you want to recognize 'gracias', etc), as well as a more stable/extendable option, I would suggest creating a dictionary of regex patterns rather than making one monster pattern.

[2015-09-01 15:22] abhisekp commented on #142
@ArielLeslie, @dcsan have to decide whether to include thanks in other languages.
But for now, that english is enough.

[2015-09-03 17:31] ArielLeslie commented on #142
May also want to catch thankyou with a missing space.

[2015-09-06 07:31] QuincyLarson opened #177 "Gitterbot's [ Check the map? ] functionality doesn't work properly - needs to be all lower case"
![a_map_of_all_free_code_camp_s_challenges___free_code_camp_and__324__freecodecamp_freecodecamp_-_gitter](https://cloud.githubusercontent.com/assets/985197/9703143/82b0699a-542e-11e5-91ff-1a2819231431.png)

[2015-09-06 08:32] dcsan commented on #169
something like this

[code]

[2015-09-06 09:01] #168 closed

[2015-09-06 10:03] abhisekp commented on #177
@QuincyLarson which program do you use for that arrow and the text?

[2015-09-13 04:17] happyconcepts opened #178 "Change "Falsey" to "Falsy" for Camperbot in HelpBonfires Section"
![falsy2](https://cloud.githubusercontent.com/assets/14145836/9835204/15ff574c-5993-11e5-8d76-8d57e96475b7.jpg)
Camperbot does not return a result for 'bf falsy' yet it works for 'bf falsey' which may be a relic.

[2015-09-13 04:49] dcsan commented on #178
this sounds like a perfect opportunity for you to contribute to an open source project! are you ready?

[2015-09-13 05:25] happyconcepts commented on #178
I think so, but am i really supposed to "fork" the whole project just to
make this one change? Surely I am missing something? -Ben
On Sep 12, 2015 9:49 PM, "dc" <notifications@github.com> wrote:

[2015-09-13 16:07] happyconcepts commented on #178
Is there a suggested spelling convention to go with? I'm thinking a) consistent spelling one way or the other, or better b) add both falsey and falsy so that camperbot recognises both input terms.

[2015-09-15 22:25] dcsan commented on #169
so this would be added whenever the bot receives a message event, but preferably after the event has been parsed so we can add any commands to the
we want to track

- userId: user identifier /nickname
- ec: category -> room/channel
- ea: action -> could be used if we pick up a "thanks" or "find" - other types of actions/commands
- ev: value (nothing really?)
- el: label - could be the message cont

[2015-09-29 02:31] SaintPeter opened #179 "Internal Wiki Links are not parsed/displayed properly"
See the links at the bottom of this image:
![image](https://cloud.githubusercontent.com/assets/553494/10154016/34df0a6e-6617-11e5-8f51-80077c1bc51b.png)

[2015-09-29 02:44] dcsan commented on #179
that's a limit of gitter markdown renderer. we are just sending output from the wiki to gitter. If it doesn't support that type of link, there's not a lot we can do - we can't patch their renderer. you could raise an issue on gitter's repo for this.

other way is to refactor the way you do the links eg `[somethign](url)`

[2015-09-29 11:25] MadLittleMods commented on #179
Hey @SaintPeter and @dcsan,

I created an issue for this on the Gitter repo: https://github.com/gitterHQ/gitter/issues/883

Feel free to give it a `:+1:` :+1: to help prioritize it.

[2015-10-01 02:37] abhisekp opened #180 "Remove Plug.dj commands and links"
Arising from issue FreeCodeCamp/FreeCodeCamp#3547

Music Command: https://github.com/dcsan/gitterbot/blob/master/nap/lib/bot/BotCommands.js#L256-L260

[2015-10-04 18:13] ltegman commented on #178
Looking into moving over all the new bonfire json files from FCC to sync this up with them. Will require creating dashed names from the challenge `type` and `name` properties since `dashedName` has been removed but quite a few parts of the gitterbot bonfire code relies on them.

[2015-10-04 20:26] ltegman commented on #178
Submitted a PR for this which accounts for various changes to the format of the JSON. Fixes this bug and just generally syncs gitterbot's bonfires back up with FCC.

[2015-10-04 20:49] ltegman commented on #177
Looks like Skitch. Also, I've added a commit that fixes this small issue to my PR #182

[2015-10-26 19:44] SaintPeter opened #185 "Bot is down in /HelpBonfires - 10/26"
Bot is down in /HelpBonfires and somewhat flakey in some other channels.  Needs to be kicked.

[2015-10-28 12:33] abhisekp commented on #185
@SaintPeter Needs to be kicked??
It's a friendly bot.

Bot dead since 26th October 2015 :point_right: [October 26, 2015 9:56 PM](https://gitter.im/dcsan/gitterbot?at=562e544b011a22571b236aa7)

[2015-10-30 00:57] dcsan commented on #185
we're aware of the problem but not sure if it's the bot or gitter API - those rooms are apparently returning a 404 according to @BerkeleyTrue

maybe one of you could investigate? try booting up your own bot locally and see if it can join all the rooms OK.

[2015-10-30 00:59] BerkeleyTrue commented on #185
Yeah saw that in the logs when I restarted it.

[2015-10-30 01:00] BerkeleyTrue commented on #185
It was 4 or 5 total. It seemed to join all the rest fine.

[2015-10-30 06:18] abhisekp commented on #185
@evaristoc contacted the gitter guys. They say it was not their fault. :point_right: [October 28, 2015 7:55 PM](https://gitter.im/gitterHQ/gitter?at=5630dace738e06e175f462ab)

[2015-10-30 19:24] abhisekp commented on #142
Another regex thanks bug. Unable to find what triggered it.

![](http://i.imgur.com/AcMDbvY.png)

[2015-10-31 06:43] abhisekp opened #187 "Sort based on brownie points on thank"
Sort the thanks shown based on descending number of brownie points the campers have.

![](http://i.imgur.com/dXZfgrZ.png)

[2015-10-31 06:49] abhisekp commented on #185
The bot is working fine in all channels but the issue is open till the problem is diagnosed.

[2015-10-31 08:34] dcsan commented on #185
so it just started workign again?

On Sat, Oct 31, 2015 at 2:49 PM, Abhisek Pattnaik <notifications@github.com>
wrote:

--
-----------------------------------------------
David 'DC' Collier
  dc@biz.pikkle.com
  skype: d3ntaku
  http://jp.linkedin.com/in/dcsan/
-----------------------------------------------

[2015-10-31 10:18] abhisekp commented on #185
@dcsan, **mydigitalself** [reported](https://gitter.im/gitterHQ/gitter?at=5630f2018de446b00919b916) it to @QuincyLarson and probably he did something and now bot works fine in [FreeCodeCamp/HelpBonfires](https://gitter.im/FreeCodeCamp/HelpBonfires) and [dcsan/gitterbot](https://gitter.im/dcsan/gitterbot) rooms.

[2015-10-31 14:46] BerkeleyTrue commented on #185
The bot is still down in /helpBasejumps. As stated above, all I did was restart the bot. That is where I saw the 404s.

[2015-10-31 15:36] SaintPeter commented on #185
The bot has never worked in /HelpBasejumps - I don't think it is on the
current release's list.

Regards,
Rex Schrader

On Sat, Oct 31, 2015 at 7:46 AM, Berkeley Martinez <notifications@github.com

[2015-11-02 17:23] joepurdy opened #188 "Bot reports api offline"
After FCC did maintenance and migrated DNS the bot is reporting that it cannot access the API for commands like thanks.js that require communicating with the FCC api.

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">We&#39;re doing a DNS migration. We may have weird outages for the next hour or so (hopefully not). Thanks for your patience.</p>&mdash; Free Code Camp (@FreeCodeCam

[2015-11-02 18:51] joepurdy commented on #188
I went ahead and monitored the logs for @purdybot since it also fails to talk to the api. Looks like this is related to the DNS migrations FCC did, see log:

[code]

Any thoughts @dcsan or @BerkeleyTrue ?

[2015-11-02 20:47] BerkeleyTrue commented on #188
try adding 'www'

[2015-11-02 21:02] #188 closed

[2015-11-03 09:26] joepurdy commented on #131
Music command is defunct now that plug.dj is down. Is this worth keeping open for other commands or should it be closed?

cc: @dcsan

[2015-11-03 17:49] abhisekp opened #191 "explain code command bug"
The `explain code` command shows the following instead of the wiki page.

[2015-11-04 12:45] abhisekp commented on #142
Thanks command doesn't run for this
![](http://i.imgur.com/3YZaCDv.png)

[2015-11-04 15:59] ArielLeslie commented on #142
Adding a `!` to the first alternative of the last group will fix that, but maybe it should just be any non-word instead of an ever-growing list of punctuation?

[2015-11-09 17:21] joepurdy commented on #180
#192 closes this issue

[2015-11-09 17:21] #180 closed

[2015-11-09 20:25] SaintPeter opened #193 "[Feature Request] Big Text Announcements"
When there are known issues on FCC, we sometimes need to make "Big Text" announcements across channels.  It would be nice if we could use the Camperbot to simplify this.

### Command
`!bigtext <Message>`
We want it to be impossible to accidentally use.  The output formatting might be pre-defined, or allow for the user to enter arbitrary text and formatting.

### Broadcast Scope
We probably don't n

[2015-11-12 23:54] joepurdy commented on #185
https://github.com/FreeCodeCamp/camperbot/pull/6 will resolve this on the new repo

[2015-11-12 23:54] #185 closed

[2015-11-23 17:20] abhisekp commented on #142
Thanks users with the following
- ![](http://i.imgur.com/NubLqH2.png)
- ![](http://i.imgur.com/RdUVUBg.png)

[2016-03-15 14:07] abhisekp commented on #178
fixed in https://github.com/FreeCodeCamp/camperbot/pull/12

[2016-03-15 14:07] #178 closed

[2016-03-15 14:08] abhisekp commented on #191
fixed

[2016-03-15 14:08] #191 closed